<h1>What is Start-Up Weekend?</h1><br>
<p>
  Start-Up Weekend is an event we hold, during which groups of developers, business managers, startup enthusiasts, marketing gurus, graphic artists and more pitch ideas for new startup companies, form teams around those ideas, and work to develop a working prototype, demo, or presentation.
</p>
<br>
<a href="/"><h3>Interested? Let's get started!</h3></a>
